.myPost {
    background: white;
    margin: 10px 0 0 0;
    border-radius: 10px;
    padding: 10px;
}

.like {
    alignment: right;
    background: magenta;
}

img {
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
