.checkboxWrapper {
    display: flex;
}

.formControl{
    width: 100%;
    height: 100%;
}

.formControl.error input,
.formControl.error textarea {
    border: 2px red solid;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: rosybrown;
}

.captcha {
    width: 150px;
    height: 75px;
}
