.nav {
    height: 200px;
    margin: 10px 5px;
    background-color: white;
    border-radius: 10px;
    color: navy;
    /*padding: 20px;*/
}

.item a {
    text-decoration: none;
    margin: 10px;
    color: navy;
}

.item a.activeLink {
    color: blueviolet;
}
