.paginator {
    display: flex;
    align-items: center;
    /*background-color: white;*/
    margin: 10px 0;
}

.paginator button {
    height: 30px;
    width: 50px;
    padding: 6px 6px;
    outline: none;
}

.pageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 20px;
    min-width: 20px;
    background-color: white;
    margin: 2px;
}

.selectedPage {
    font-weight: bold;
    border-style: double;
    border-color: black;
}
