.item {

}

.posts {
    display: grid;
    width: 100%;
    /*border: 1px solid black;*/
}

.input {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.input textarea {
    width: calc(100% - 40px);
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}

button {
    display: flex;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
}
