.app-wrapper {
height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
    background-color: whitesmoke;
}

.app-wrapper-content {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    background-color: whitesmoke;

}

.app-navbar {
    color: navy;
    margin: 10px;
    min-height: calc(100vh - 120px);
    /*надо проверить это*/
}

.sidebar {
    margin: 10px 5px ;
    background-color: white;
    height: 300px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}

.app-content {
}
