.dialogs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    align-items: center;
    min-height: 50px;
    background-color: white;
    border-bottom: navy 1px dotted;
}

.autorName {
    font-weight: bold;
}

.textMessage {
    margin-left: 5px;
    font-style: italic;
}
