.dialogs {
    width: 525px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.messages button {
    display: flex;
    padding: 0 10px;
    height: 30px;
}

.messages a {
    text-decoration: none;
}

.message {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 50px;
    border-radius: 10px;
    background-color: white;
    margin: 10px 0;
    padding: 10px;
}

.message button {
    position: absolute;
    height: 30px;
    top: calc(50% - 15px);
    right: 0;
    margin-right: 15px;
}

.unViewed {
    background-color: gainsboro;
}

.autorName {
    font-weight: bold;
}

.textMessage {
    margin-left: 5px;
    font-style: italic;
}
